:root {
  /* text colors */
  --title-color: #2e2f42;
  --subtitle-color: #2e2f42;
  --text-color: #434455;
  --footer-text-color: #e7e9fc;
  --hero-color: #ffffff;
  --hero-btn-color: #ffffff;
  --btn-color: #4D5AE5;
  --accent-btn-color: #ffffff;
  --accent-link-color: #4d5ae5;

  /* background colors */
  --main-background: #ffffff;
  --hero-background: #2e2f42;
  --hero-btn-background: #4D5AE5;
  --ourteam-background: #f4f4fd;
  --footer-background: #2e2f42;
  --btn-background: #f4f4fd;
  --accent-btn-background: #404bbf;
}

/* GENERAL style */

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-background);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}


/* LOGO style */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #4D5AE5;
  text-transform: uppercase;
}

.header-logo {
  color: #2E2F42;
}

.footer-logo {
  color: #F4F4FD;
}


/* HEADER style */

/* .header {
}
.header-navigation {
}
.header-list {
}
.header-item {
} */

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-mail,
.header-tel {
  color: var(--text-color);
}

/* ACCENT HEADER LINKS style */

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.current {
  color: var(--accent-link-color);
}


/* FOOTER style */

.footer {
  background-color: var(--footer-background);
}

.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}


/* INDEX.HTML BODY style */

/* OVERALL TEXT style */

.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.subtitles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}

.descs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/* HERO style */

.hero {
  background-color: var(--hero-background);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-btn-color);
  background-color: var(--hero-btn-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

/* ACCENT HERO BUTTON style */

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-btn-background);
}


/* FEATURES style */

/* .features {
}
.features-title {
}
.features-list {
}
.features-item {
}
.features-subtitle {
}
.features-desc {
} */


/* WHATWEDO style */

/* .whatwedo {
}
.whatwedo-title {
}
.whatwedo-list {
}
.whatwedo-item {
}
.whatwedo-img {
} */

/* OURTEAM style */

.ourteam {
  background-color: var(--ourteam-background);
}

/* .ourteam-title {
}
.ourteam-list {
} */

.ourteam-item {
  background-color: var(--main-background);
}

/* .ourteam-img {
}
.ourteam-subtitle {
}
.ourteam-desc {
} */


/* PORTFOLIO.HTML BODY style */

/* .pfolio {
}
.pfolio-title {
}
.pfolio-menu-list {
}
.pfolio-menu-item {
} */

.pfolio-menu-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--btn-color);
  background-color: var(--btn-background);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

/* ACCENT PFOLIO MENU BUTTON style */

.pfolio-menu-btn:hover,
.pfolio-menu-btn:focus {
  color: var(--accent-btn-color);
  background-color: var(--accent-btn-background);
}

/* .pfolio-box-list {
}
.pfolio-box-item {
}
.pfolio-box-img {
}
.pfolio-box-subtitle {
}
.pfolio-box-desc {
} */
